.App{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: rgb(2, 4, 27);
}
h1,p{
  color: #f8f8f8;
}

p {
  font-size: 1rem;
}
.box-input-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed #f8f8f8;
  width: 500px;
  height: 400px;
  border-radius: 10px;

}

.hi{
  color: #f8f8f8;
  font-size: 2rem;
}